body {
    margin: 0;
    background-color: #b1d6f6;
}

main {
    /* width: 70%; */
    /* margin: 0 auto; */
}

h1, h2, h3, h4, h5, h6, p {
    font-family: 'Open Sans', sans-serif;    
}

h1 {
    font-size: 5em;
    margin-top: 45px;
    margin-bottom: 0px;
    color: #0b4d88;
}

p {
    color: #0b4d88;
    font-weight: bold;
}

#header {
    background-image: url("images/bus.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    height: 240px;
    width: 70%;  
    margin: auto;  
}

#survey {
    width: 70%;
    margin: auto;
}

#survey img {
    width: 300px;
    padding: 10px;
    /* style padding */
}

div.product {
    display: inline;
}

#chart-container {
    background-color: #0b4d88;    
}

#bar-chart {
    margin: auto;
    padding-top: 50px;
    padding-bottom: 20px;
    width: 80%;
}
